function Main.main 0
call MathDev.init 0
pop temp 0
push constant 16
call MathDev.sqrt 1
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push constant 4
call MathDev.sqrt 1
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push constant 25
call MathDev.sqrt 1
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push constant 49
call MathDev.sqrt 1
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push constant 2041
call MathDev.sqrt 1
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push constant 0
return
