function Main.main 0
push constant 3
call Memory.alloc 1
pop temp 0
push constant 2
call Memory.alloc 1
pop temp 0
push constant 10
call Memory.alloc 1
pop temp 0
push constant 1
call Memory.alloc 1
pop temp 0
push constant 0
return
